body {
    background-color: black;
    background-image: url('https://images7.alphacoders.com/126/1265780.jpg');
    color: white;
    font-family: 'Inknut Antiqua', serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1 {
    margin: 10px auto;
    text-align: center;
}

.card-grid {  
    /* background-color: rgba(0, 0, 0, .8); */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "rhaenyra alicent viserys"
        "daemon corlys rhaenys";
}

.card {
    background-color: white;
    color: black;
    margin: 10px; 
    text-align: center;
    padding-bottom: 10px;
    border-radius: 5px;
}

h2 {
    padding: 10px;
    margin: 0 auto;
    font-size: 22px;
}

img {
    max-width: 250px;
    padding: 10px;
}

.button-box {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}

button {
    background-color: black;
    color: white;
    padding: 5px 15px;
    font-family: 'Inknut Antiqua', serif;
    border-radius: 5px;
}

.alicent { grid-area: alicent; }

.rhaenyra { grid-area: rhaenyra; }

.viserys { grid-area: viserys; }

.daemon { grid-area: daemon; }

.laenor { grid-area: corlys; }

.laena { grid-area: rhaenys; }

.bioContainer {
    font-family: 'Inknut Antiqua', serif;
    color: black;
    background-color: white;
    margin-top: 10px;
    margin-left: 20px;
    width: 250px;
    height: 200px;
    font-size: 10px;
}

.AOD {
    margin: 0 auto;
}

input {
    margin: 0 auto 5px auto;
    padding: 5px 15px;
    font-family: 'Inknut Antiqua', serif;
    border-radius: 5px;
}

.hidden {
    display: none;
}